/*==============================================
[Blue color stylesheet blue.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
    color: #375a70;
}
a.button_full, a.button_small, .call_button a{
    background-color:#375a70; 
}
.button {
    border: 1px solid #375a70;
    color: #375a70;
}
.button.active {
    background: #375a70;
}
#pages_maincontent h3{
    color:#375a70;
}
.photo-categories a.active{
    background-color:#375a70;
}
.post_date{
    color:#375a70;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
    background: #375a70;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
    background-color:#375a70;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
    background: url(../../images/colors/blue/bg.jpg) no-repeat center center;
    background-attachment:fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}
.navbarpages{
    background:url(../../images/colors/blue/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
    background: #2a5571;
    border-bottom:1px #40788e solid;
}
.main-nav ul li a{
    color:#FFF;
    /*color:#4ca2c3;*/

}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
    background: #233a5a;
}
.popup-login, .popup-signup, .popup-forgot{
    background-color:#263239;
}
.toolbar:before {
    background-color: #201e2c;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
    background:#40788e;
}
.user-nav ul li, ul.popular_posts li{
    border-bottom:1px #4d8da6 solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
    background-color:#3f5668;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
    background-color:#40788e;
}