/*==============================================
[Custom color stylesheet custom.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
    color: #FFF;
}
.buyers_list{
    color: #222;
}
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
    margin-bottom: 5px;
}

/*----- Section Titles -----*/
.accordion-section-title {
    cursor: pointer;
    width:100%;
    padding:10px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /*font-size:1.200em;*/
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}
a.button_full, a.button_small, .call_button a{
    background-color:#375a70; 
}
.button {
    border: 1px solid #375a70;
    color: #375a70;
}
.button.active {
    background: #375a70;
}
#pages_maincontent h3{
    color:#375a70;
}
.photo-categories a.active{
    background-color:#375a70;
}
.post_date{
    color:#375a70;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
    background: #375a70;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
    background-color:#12284F;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
    background: url(../../images/colors/custom/bg.jpg) no-repeat center center;
    background-attachment:fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}
.navbarpages{
    background:url(../../images/colors/custom/khb_bg.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
    background: #EA9022;
    border-bottom:1px #40788e solid;
}
.main-nav ul li a{
    color:#FFF;
    /*color:#4ca2c3;*/

}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
    background: #1D3D76;
}
.popup-login, .popup-signup, .popup-forgot{
    background-color:#263239;
}
.toolbar:before {
    background-color: #183362;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
    background:#40788e;
}
.user-nav ul li, ul.popular_posts li{
    border-bottom:1px #4d8da6 solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
    background-color:#3f5668;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
    background-color:#40788e;
}
.homepage_login {
    margin-top:15%;  
}
.homepage_login input{
    width: 50% !important;
}
.homepage-forgot_pass{
    width: 78% !important;
}
.header_showuser span {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-right: 17px;
    vertical-align: middle;
    line-height: 3;
}
.khbbutton a{
    background-color: #1D3D76;
    width: 100%;
    padding: 2% 10%;  
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;  
}
.redcolor{
    color: red;
    font-weight: 500;    
}
.margin-left{
    margin-left:10%
}
.custom_button_blue{
    background-color: #12284F;
    width: 90%;
    padding: 2% 0 2% 0;
    margin: 10px 0 0 5%;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}
.checkboxseting{
    float: right;
    width: 100%;
}
.checkboxseting >label { 
    float: left;

}
.item-inner1 {
    margin-left: 15px;
}
input[type=radio] {
    display:none;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[type=radio]:checked + label{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 10px 20px rgba(0,0,0,0.30),0 10px 20px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 10px 20px rgba(0,0,0,0.30),0 10px 20px rgba(0,0,0,0.05);
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.30),0 10px 20px rgba(0,0,0,0.05);
    background-color:#e0e0e0;
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
.custom_button {
    margin-right: 5px;
    background-color: #12284F;
    width: 5%;
    display: inline;
    float: right;
    font-size: 80%;
    padding: 3px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    -webkit-appearance: none;
}
.custom_button_custom {
    margin-right: 5px;
    background-color: #12284F;
    width: 5%;
    display: inline;
    float: right;
    font-size: 80%;
    padding: 3px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    -webkit-appearance: none;
}

.list-group li{
    /*border-bottom: 1px grey ridge;*/
}
.list-group li:last-child{
    border-bottom: none;
}
.alert {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.checkboxFour {
    width: 30px;
    height: 30px;
    background: #ddd;
    /*margin: 20px 90px;*/
    border-radius: 50%;
    position: relative;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour label {
    display: block;
    width: 20px;
    height: 12px;
    border-radius: 100px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #333;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkboxFour input[type=checkbox]:checked + label {
    background: #26ca28;
}
.page_title img {
    width: 50px;
}


.views_table table{
    color: #000;
}
.views_table tr{
    border: 1px solid #ddd;
}
.views_table td{
    border: 1px solid #ddd;
    font-size: 16px;
}
.menu_content {
    margin: 10px 1px;
    padding: 15px 0;
    background: #EA9022;
    text-align: center;
    border-radius: 5px;
}
.menu_content_user {
    margin: 10px;
}
.menu_content img {
    max-width: 40%;
}

.label_success {
    /*background-color: #B92929;*/
    background-image: -moz-linear-gradient(top,#fff,#3c763d);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#3c763d));
    background-image: -webkit-linear-gradient(top,#fff,#3c763d);
    background-image: -o-linear-gradient(top,#fff,#3c763d);
    background-image: linear-gradient(to bottom,#fff,#3c763d);
}
.label_danger {
    /*background-color: #B92929;*/
    background-image: -moz-linear-gradient(top,#fff,#B92929);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#B92929));
    background-image: -webkit-linear-gradient(top,#fff,#B92929);
    background-image: -o-linear-gradient(top,#fff,#B92929);
    background-image: linear-gradient(to bottom,#fff,#B92929);
}
.label_info {
    /*background-color: #f5f5f5;*/
    background-image: -moz-linear-gradient(top,#fff,#f5f5f5);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f5f5f5));
    background-image: -webkit-linear-gradient(top,#fff,#f5f5f5);
    background-image: -o-linear-gradient(top,#fff,#f5f5f5);
    background-image: linear-gradient(to bottom,#fff,#f5f5f5);
}
.h4class{
    color: #000;
    font-size: 20px;
}

.liclass {
    margin-top: 30px !important;
    margin-bottom: 100px !important;
}

div#list_all_buyers li{
    margin: 1px !important;
}