/*==============================================
[grayscale color stylesheet grayscale.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
    color: #505050;
}
a.button_full, a.button_small, .call_button a{
    background-color:#505050; 
}
.button {
    border: 1px solid #505050;
    color: #505050;
}
.button.active {
    background: #505050;
}
#pages_maincontent h3{
    color:#505050;
}
.photo-categories a.active{
    background-color:#505050;
}
.post_date{
    color:#505050;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
    background: #505050;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
    background-color:#505050;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
    background: url(../../images/colors/grayscale/bg.jpg) no-repeat center center;
    background-attachment:fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}
.navbarpages{
    background:url(../../images/colors/grayscale/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
    background: #373737;
    border-bottom:1px #565656 solid;
}
.main-nav ul li a{
    color:#d7d7d7;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
    background: #171717;
}
.popup-login, .popup-signup, .popup-forgot{
    background-color:#263239;
}
.toolbar:before {
    background-color: #171717;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
    background:#606060;
}
.user-nav ul li, ul.popular_posts li{
    border-bottom:1px #797878 solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
    background-color:#606060;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
    background-color:#606060;
}