/*==============================================
[Red color stylesheet red.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
    color: #811308;
}
a.button_full, a.button_small, .call_button a{
    background-color:#811308; 
}
.button {
    border: 1px solid #811308;
    color: #811308;
}
.button.active {
    background: #811308;
}
#pages_maincontent h3{
    color:#811308;
}
.photo-categories a.active{
    background-color:#811308;
}
.post_date{
    color:#811308;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
    background: #811308;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
    background-color:#811308;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
    background: url(../../images/colors/red/bg.jpg) no-repeat center center;
    background-attachment:fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}
.navbarpages{
    background:url(../../images/colors/red/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
    background: #8a2015;
    border-bottom:1px #b83a2d solid;
}
.main-nav ul li a{
    color:#e7a7a0;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
    background: #72150b;
}
.popup-login, .popup-signup, .popup-forgot{
    background-color:#263239;
}
.toolbar:before {
    background-color: #2e0c0b;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
    background:#731b11;
}
.user-nav ul li, ul.popular_posts li{
    border-bottom:1px #8d291d solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
    background-color:#ca1c0b;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
    background-color:#ca1c0b;
}